.title {
    font-size: 30
    horizontal-align: center;
    margin: 20;
    color: white;
}

.app_name {
  font-size: 60;
  horizontal-align: center;
  margin: 20;
  font-family: fantasy;
  color: white;
}

.page {
  background-color: #00688B;
}
/*button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}
*/
.bar{
  background-color: #00688B;
}
